.content-block-container {
  @include defaultBlock;
  padding-top: 80px;
  height: 100%;
  flex-wrap: wrap;


  .aside-block {
    display: flex;
    background: #ffffff;
    flex: 0 0 240px;
    max-width: 240px;
    border-right: 1px solid rgba(62, 68, 91, 0.1);
    border-radius: 8px;
    justify-content: flex-end;

    @include max-width(768px) {
      visibility: hidden;
      opacity: 0;
      position: absolute;

      &.show {
        animation: show .3s 1;
        animation-fill-mode: forwards;
        z-index: 9999;
        height:calc(100% - 80px);
        top: 80px;
        left: 0;
        width: 100%;
      }

      &.hide {
        animation: hide .3s 1;
        animation-fill-mode: forwards;
        z-index: 9999;
        height: 100%;
        left: 0;
        width: 100%;
      }
    }
  }

  .content-block {
    display: flex;
    flex: 0 0 calc(100% - 240px);
    max-width: calc(100% - 240px);
    height: 100%;
    background: $gray-bg;
    margin-bottom: 55px;

    @include max-width(768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }


    .content {
      display: flex;
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 40px;
      padding-right: 60px;
      margin-top: 40px;
      align-items: flex-start;

      @include max-width(1480px) {
        padding-left: 15px;
      }

      @include max-width(1200px) {
        padding-right: 30px;
        flex-wrap: wrap;
      }

      @include max-width(768px) {
       padding: 0 30px;
      }
    }
  }


  aside {
    height: 100%;
    display: flex;
    flex: 0 0 100%;
    max-width: 180px;
    flex-wrap: wrap;

    nav {
      margin-top: 60px;

      .nav-container {
        width: 100%;
        display: flex;
        margin-bottom: 37px;
        position: relative;
      }

      a, p {
        opacity: .3;
        color: $text-color;
        transition: .2s linear;

        &:hover {
          opacity: 1;
        }


        &.wallet:before {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background: url(../images/wallet_active.png) no-repeat;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: -31px;
          top: -2px;
        }

        &.staked:before {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background: url(../images/staked.png) no-repeat;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: -31px;
          top: -2px;
        }

        &.ambassadors:before {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background: url(../images/ambassador.png) no-repeat;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: -31px;
          top: -2px;
        }

        &.followers:before {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background: url(../images/followers.png) no-repeat;
          background-size: contain;
          background-position: center;
          position: absolute;
          left: -31px;
          top: -2px;
        }
      }
    }
  }

  .account-information-block {
    display: flex;
    flex: 0 0 35%;
    max-width: 35%;
    flex-wrap: wrap;
    align-items: flex-start;

    @include max-width(1200px) {
      flex: 0 0 100%;
      max-width: 100%;
      justify-content: space-between;
      margin-bottom: 40px;
      align-items: initial;
    }

    .account-block {
      display: flex;
      flex: 0 0 100%;
      max-width: 100%;
      align-items: center;
      margin-bottom: 30px;

      .account-information {
        margin-left: 16px;
      }

      .account-created {
        p {
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          line-height: 19px;
          color: $text-color-opacity;
          margin-bottom: 8px;
          position: relative;

          &:after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: url(../images/chain_basic.png) no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            right: -24px;
            top: 3px;
          }
        }

        span {
          color: $text-color;
        }
      }


      .account-name {
        p {
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          position: relative;
          padding-right: 30px;

          &:after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: url(../images/copy_basic.png) no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            right: 8px;
            top: 4px;
          }
        }
      }
    }

    .value-block-cbs, .value-block-cbsch {
     @include defaultBlock;
      background: $white-bg;
      box-shadow: 0px 1.4945px 1.53979px rgba(0, 0, 0, 0.02), 0px 4.13211px 4.25733px rgba(0, 0, 0, 0.025), 0px 9.94853px 10.25px rgba(0, 0, 0, 0.03), 0px 33px 34px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 32px 25px 32px 40px;
      flex-wrap: wrap;
      margin-bottom: 16px;

      @include max-width(1200px) {
        flex: 0 0 48%;
        max-width: 48%;
        align-items: flex-start;
      }

      .value-block {
        @include defaultBlock;
        justify-content: space-between;
        align-items: flex-start;

        @include max-width(1200px) {
          flex-wrap: wrap;
        }

        .value {
          font-weight: bold;
          font-size: 46px;
          line-height: 56px;

          @include max-width(1600px) {
            font-size: 40px;
            line-height: 50px;
          }

          @include max-width(1480px) {
            display: flex;
            flex-wrap: wrap;
          }

          @include max-width(1200px) {
            font-size: 30px;
            line-height: 40px;
          }

          @include max-width(992px) {
            width: 100%;
            order: 2;
          }

          span {
            opacity: .3;
            font-size: 37px;
            line-height: 47px;

            @include max-width(1600px) {
              font-size: 31px;
              line-height: 41px;
            }

            @include max-width(1480px) {
              width: 100%;
            }

            @include max-width(1200px) {
              font-size: 21px;
              line-height: 31px;
            }
          }
        }

        .value-img {
          display: flex;
          align-items: flex-start;
          margin-top: 5px;

          @include max-width(992px) {
            order: 1;
            margin-bottom: 10px;
          }
        }
      }

      .lock-unlock {
        @include defaultBlock;
        flex-wrap: wrap;

        .lock, .unlock {
          position: relative;
          padding-left: 25px;
          opacity: .6;

          p {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 19px;
          }

          &:before {
            content: "";
            display: block;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
          }
        }

        .unlock {
          margin-right: 43px;

          @include max-width(1200px) {
            margin-right: auto;
          }

          &:before {
            background-image: url(../images/unlocked.png);
            width: 18px;
            height: 17px;
            left: 0px;
            top: 1px;
          }
        }

        .lock:before {
          background-image: url(../images/locked.png);
          width: 12px;
          height: 17px;
          left: 2px;
          top: 1px;
        }
      }
    }

    .resources-block {
      @include defaultBlock;
      background: $white-bg;
      box-shadow: 0px 1.4945px 1.53979px rgba(0, 0, 0, 0.02), 0px 4.13211px 4.25733px rgba(0, 0, 0, 0.025), 0px 9.94853px 10.25px rgba(0, 0, 0, 0.03), 0px 33px 34px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 24px 25px 28px 24px;
      flex-wrap: wrap;

      @include max-width(1200px) {
        flex: 0 0 100%;
        max-width: 100%;
      }


      .resources {
        flex-wrap: wrap;
        display: flex;
        @include max-width(1200px) {
          justify-content: space-between;
        }

         .resources-title {
          opacity: 0.5;
          width: 100%;
          margin-bottom: 15px;
        }

        .software-resources {
          @include defaultBlock;
          align-items: center;
          margin-bottom: 12px;
          justify-content: flex-start;
          flex-wrap: wrap;

          @include max-width(1200px) {
            flex: 0 0 33%;
            max-width: 33%;
            margin-bottom: 0;
          }

          @include max-width(992px) {
            flex: 0 0 48%;
            max-width: 48%;
            margin-bottom: 12px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .software-resources-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            width: 52px;
            margin-bottom: 6px;
            margin-right: 25px;

            @include max-width(1480px) {
              width: 100%;
              margin-right: 0;
            }
          }

          .resources-graph-block {
            display: flex;
            flex-wrap: wrap;


            .resources {
              flex: 0 0 calc(100% - 64px);
              max-width: calc(100% - 64px);

              @include max-width(1200px) {
                flex: 0 0 calc(100% - 96px);
                max-width: calc(100% - 96px);
                align-items: center;
              }

              .percent {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                width: 100%;
              }

              .quantity {
                font-family: 'Roboto', sans-serif;
                width: 100%;
                font-size: 16px;
                line-height: 19px;
                opacity: 0.6;
              }
            }


            .graph-img {
              margin-right: 16px;
            }
          }

        }
      }
    }

  }

  .transaction-information {
    display: flex;
    flex: 0 0 calc(65% - 60px);
    max-width: calc(65% - 60px);
    margin-left: 60px;
    flex-wrap: wrap;

    @include max-width(1480px) {
      flex: 0 0 calc(65% - 30px);
      max-width: calc(65% - 30px);
      margin-left: 30px;
    }

    @include max-width(1200px) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
    }

    .transaction-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      padding-left: 40px;
      margin-bottom: 24px;
    }

    .transaction-table {
      @include defaultBlock;
      flex-wrap: wrap;
      position: relative;

      .transaction-inn-receive-btn {
        display: flex;
        position: absolute;
        right: 0;
        top: -31px;

        @include max-width(1480px) {
          top: -55px;
        }

        @include max-width(1200px) {
          top: -31px;
        }

        @include max-width(1200px) {
          top: -55px;
        }

        .inn-btn {
          margin-right: 20px;
          padding: 10.5px 20px 10.5px 43px;
          background: linear-gradient(22.88deg, #FFA300 31.27%, #FFD1AA 100%);
          box-shadow: 0px 0px 0.892857px rgba(236, 124, 42, 0.12), 0px 1.19048px 1.78571px rgba(236, 124, 42, 0.18), 0px 2.67857px 4.16667px rgba(236, 124, 42, 0.2), 0px 4.7619px 8.92857px rgba(236, 124, 42, 0.3);
          border-radius: 29.7619px;
          position: relative;

          &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 29.7619px;
            background: linear-gradient(90deg, rgba(255,163,0,1) 0%, rgba(230,69,0,1) 100%);
            transition: opacity 0.5s ease-out;
            z-index: 2;
            opacity: 0;
          }

          &:hover:after {
            opacity: 1;
            cursor: pointer;
          }

          a {
            position: relative;
            font-weight: bold;
            color: $text-color;
            font-size: 14px;
            line-height: 17px;
            z-index: 5;

            &:before {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background: url(../images/wallet_out.png);
              position: absolute;
              left: -29px;
              top: -3px;
            }
          }
        }

        .receive-btn {

          padding: 10.5px 20px 10.5px 43px;
          background: #5D6171;
          box-shadow: 0px 0px 0.892857px rgba(112, 112, 112, 0.12), 0px 1.19048px 1.78571px rgba(112, 112, 112, 0.18), 0px 2.67857px 4.16667px rgba(112, 112, 112, 0.2), 0px 4.7619px 8.92857px rgba(112, 112, 112, 0.3);
          border-radius: 29.7619px;
          position: relative;
          z-index: 1;

          &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 29.7619px;
            background: linear-gradient(90deg, rgba(93,97,113,1) 0%, rgba(0,0,0,1) 100%);
            transition: opacity 0.5s ease-out;
            z-index: 2;
            opacity: 0;
          }

          &:hover:after {
            cursor: pointer;
            opacity: 1;
          }

          a {
            position: relative;
            font-weight: bold;
            color: $white-text-color;
            font-size: 14px;
            line-height: 17px;
            z-index: 5;

            &:before {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background: url(../images/wallet_inn.png);
              position: absolute;
              left: -29px;
              top: -3px;
            }
          }
        }
      }
    }

    .transaction-send-receive-btn {
      display: flex;
      position: absolute;
      right: 0;
      top: -20px;
    }

    .transaction-setup {
      @include defaultBlock;
      flex-wrap: wrap;
      padding-left: 40px;
      margin-bottom: 8px;

      .transaction-rank, .transaction-value {
        display: flex;

        p {
          font-weight: bold;
          opacity: .3;
          position: relative;
          margin-right: 24px;
          cursor: pointer;
          transition: .3s linear;

          &:last-child{
            margin-right: 0;
          }

          &.active:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #F8A303;
            border-radius: 5px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            bottom: -10px;
            left: 0;
            transition: .3s linear;
          }
        }
      }

      .transaction-rank {
        margin-right: 10%;
        width: 170px;

        @include max-width(992px) {
          width: 120px;
        }
      }
    }

    .table {
      @include defaultBlock;
      @include shadows;
      flex-wrap: wrap;
      background: $white-bg;
      padding: 32px 40px;

      .table-titles {
        @include defaultBlock;
        margin-bottom: 6px;

        .value-rank {
          margin-right: 2.5%;
          width: 33px;
          display: flex;
          justify-content: center;
        }

        .value-time {
          width: 120px;
          margin-right: 12%;
        }

        .value-name {
          width: 120px;
          margin-right: auto;
        }

        .value-balance {
          width: 120px;
          text-align: center;
        }

        p {
          opacity: 0.5;
          font-weight: bold;
        }
      }

      .table-values {
        @include defaultBlock;
        flex-wrap: wrap;

        .table-value-block {
          @include defaultBlock;
          border-bottom: 1px solid rgba(62,68,91, 0.1);
          align-items: center;
          padding: 8px 0;
        }



        .table-value-rank {
          margin-right: 2.5%;
          width: 33px;
          display: flex;

          i.inn {
            width: 24px;
            height: 24px;
            display: block;
            background: url(../images/inn.png) no-repeat;
            background-size: contain;
          }

          i.out {
            width: 24px;
            height: 24px;
            display: block;
            background: url(../images/out.png) no-repeat;
            background-size: contain;
          }
        }

        .table-value-date-time {
          display: flex;
          align-items: center;
          white-space: nowrap;
          width: 120px;
          margin-right: 12%;

          p {
            font-family: 'Roboto', sans-serif;
          }

          span {
            opacity: .3;
            font-size: 14px;
            line-height: 16px;
          }
        }

        .table-value-name {
          display: flex;
          align-items: center;
          width: 120px;
          margin-right: auto;
          margin-left: -27px;

          .acc-avatar {
            display: block;
            width: 20px;
            height: 20px;
            border: 0.5px solid rgba(52, 48, 39, 0.1);
            border-radius: 50%;
            margin-right: 8px;


            img {
              width: 100%;
            }
          }

          a {
            color: $text-color;
            font-size: 14px;
            line-height: 16px;
          }
        }

        .table-value-balance {
          display: flex;
          align-items: center;
          width: 120px;


          p {
            width: 60%;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            text-align: right;
          }
            &.inn {
              p {
                color:$green-color;
              }
            }

            &.out {
              p {
                color: $text-color;
              }
            }

            span {
              font-size: 14px;
              line-height: 16px;
              font-weight: bold;
              width: 40%;
              color: $text-color-opacity;
            }
        }
      }

    }

    .navigation-block {
      @include defaultBlock;
      margin-top: 15px;
      flex-wrap: wrap;
      justify-content: center;

      .navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &:before {
          content: '<';
          font-size: 14px;
          line-height: 16px;
          cursor: pointer;
        }

        &:after {
          content: '>';
          font-size: 14px;
          line-height: 16px;
          cursor: pointer;
        }

        p {
          font-weight: bold;
          margin: 0 7px;
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }

  }
}

.value-block-cbs .value-block{
  margin-bottom: 13px;
}

.mobile-menu-btn {
  display: none;

  @include max-width(768px) {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .menu {
    width: 30px;
    height: 30px;
    background: url(../images/open-menu.png) no-repeat;
    background-size: contain;
    margin: 20px 30px;
    display: flex;
    cursor: pointer;
  }
}